#root {
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-container{
  display: flex;
  gap: 30px;
}

.cart-title, .cart-info{
  display: flex;
  justify-content: space-around;
  gap: 3rem
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  width: 60%;
}
.cart-container{
  width: 35%;
  float: left;
  margin-left: 3rem;
}
.cart-container h4,.cart-container h2 {
  margin: 0;
  padding: 0;
}
