#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

<<<<<<< HEAD
.main-container{
  display: flex;
  gap: 3rem;
}

.cart-title{
  display: flex;
  justify-content: space-around;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
=======

.main-conatiner{
  display: flex;
  gap:3rem
}
.card-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
>>>>>>> 554b98c8ab0cdeef73791e0a34a23644badce6cf
}